beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
newrelic==7.2.4.171
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.7
Werkzeug==2.0.2
